body {
  padding-top: 70px;
}

.splash {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.font-galada {
  font-family: Galada, cursive;
}

.font-indieflower {
  font-family: IndieFlower, cursive;
  font-size: 25px;
}

.btn-list li {
  width: 168px;
}

.panel-heading {
  background-color: #f5f5f5 !important;
}

.panel-title {
  margin-top: 7px;
  font-size: 26px;
}

.no-hover, .no-hover:focus, .no-hover:focus:active {
  cursor: default;
  outline: none;
}

.btn-warning.no-hover, .btn-warning.no-hover:focus:active {
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-danger.no-hover, .btn-danger.no-hover:focus:active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: gold;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.star-on {
  color: gold;
}

.star-on:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.clickable {
  cursor: pointer;
}

.display-arrow {
  margin-top: 15px;
  margin-left: 10px;
}

.left-space {
  margin-left: 4px;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  background-color: white;
  color: #2c3e50;
  border: 1px solid #ddd;
}

.pagination>li>a, .pagination>li>span {
  background-color: white;
  color: #2c3e50;
  border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #2c3e50;
  color: white;
  border-color: #2c3e50;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  background-color: #eee;
  color: #2c3e50;
  border: 1px solid #ddd;
}

label {
  font-size: 18px;
}

h4 {
  font-size: 17px
}
