body {
  padding-top: 70px;
}

.splash {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.font-galada {
  font-family: Galada, cursive;
}

.font-indieflower {
  font-family: IndieFlower, cursive;
  font-size: 25px;
}

.btn-list li {
  width: 168px;
}

.panel-heading {
  background-color: #f5f5f5 !important;
}

.panel-title {
  margin-top: 7px;
  font-size: 26px;
}

.no-hover, .no-hover:focus, .no-hover:focus:active {
  cursor: default;
  outline: none;
}

.btn-warning.no-hover, .btn-warning.no-hover:focus:active {
  background-color: #f39c12;
  border-color: #f39c12;
}

.btn-danger.no-hover, .btn-danger.no-hover:focus:active {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: gold;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.star-on {
  color: gold;
}

.star-on:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.clickable {
  cursor: pointer;
}

.display-arrow {
  margin-top: 15px;
  margin-left: 10px;
}

.left-space {
  margin-left: 4px;
}

@font-face {
  font-family: Galada;
  src: url(../fonts/Galada-Regular.ttf);
}

@font-face {
  font-family: IndieFlower;
  src: url(../fonts/IndieFlower.ttf);
}
