body {
  padding-top: 70px;
}

.splash {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.font-galada {
  font-family: 'Galada', cursive;
}

.font-indieflower {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.btn-list li {
  width: 168px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}
