<div class="container" ng-repeat="(id, list) in lists track by id">
  <div class="panel panel-default">
    <div class="panel-heading clearfix clickable" ng-click="list.displayTags = list.displayTags? false: true">
      <h3 class="panel-title pull-left">[[ list.title ]]</h3>
			<span class="glyphicon display-arrow"
       ng-class="list.displayTags? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right'"></span>
      <button class="btn btn-danger pull-right no-hover" type="button">
        Downloads <span class="badge left-space">[[ list.num_downloads ]]</span>
      </button>
      <button class="btn btn-warning pull-right no-hover" type="button" style="margin-right:10px">
        <!-- Rating <span class="badge left-space">[[ list.rating.toFixed(2) ]] / 5</span> -->
        Rating <span class="badge left-space">[[ round(list.rating * 100) / 100 ]] / 5</span>
      </button>
    </div>

    <div class="list-group" ng-if="list.displayTags">
      <div class="list-group-item">
        <label>Tags</label>
        <h6 class="list-group-item-heading">[[ list.tags ]]</h6>
      </div>

      <div class="list-group-item">
        <label>Rate It!</label>
        <div class="rating" style="width: 95px">
          <span class="clickable" ng-class="list.user_rating_from_cookie >= 5? 'star-on': ''" ng-click="rateList(list.id, 5)">☆</span>
          <span class="clickable" ng-class="list.user_rating_from_cookie >= 4? 'star-on': ''" ng-click="rateList(list.id, 4)">☆</span>
          <span class="clickable" ng-class="list.user_rating_from_cookie >= 3? 'star-on': ''" ng-click="rateList(list.id, 3)">☆</span>
          <span class="clickable" ng-class="list.user_rating_from_cookie >= 2? 'star-on': ''" ng-click="rateList(list.id, 2)">☆</span>
          <span class="clickable" ng-class="list.user_rating_from_cookie >= 1? 'star-on': ''" ng-click="rateList(list.id, 1)">☆</span>
        </div>
      </div>

      <div class="list-group-item">
        <label>Download ID</label>
        <h6 class="list-group-item-heading">Enter this code to download list: <strong>[[ list.id ]]</strong></h6>
      </div>
    </div>

  </div>
</div>

<div class="container" style="text-align: center">
  <ul uib-pagination items-per-page="2" total-items="numLists" ng-change="getLists()" ng-model="currentPage" class="pagination-sm" boundary-link-numbers="true"></ul>
</div>
