<div class="container" ng-repeat="list in lists">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">[[ list.title ]]</h3>
			<span class="glyphicon display-arrow clickable"
       ng-class="list.displayTags? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right'"
       ng-click="list.displayTags = list.displayTags? false: true"></span>
      <button class="btn btn-danger pull-right no-hover" type="button">
        Downloads <span class="badge left-space">[[ list.num_downloads ]]</span>
      </button>
      <button class="btn btn-warning pull-right no-hover" type="button" style="margin-right:10px">
        Rating <span class="badge left-space">[[ list.rating ]] / 5</span>
      </button>
    </div>

    <div class="list-group" ng-if="list.displayTags">
      <div class="list-group-item">
        <label>Tags</label>
        <h6 class="list-group-item-heading">[[ list.tags ]]</h6>
      </div>
    </div>

  </div>
</div>
