<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-name" href="#/">Spoiler Blocker [[$viewValue]]</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="nav_home"><a href="#/">Home</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search"
           uib-typeahead="title for title in getTitles($viewValue) | limitTo:8" ng-model="asyncSelected">
        </div>
        <button type="submit" class="btn btn-default" ng-click="submitSearch()">Submit</button>
      </form>
    </div>
  </div>
</nav>
